{% load static %}

{% if page == "singlePage" %}
  <script src="./js/components/Purchases.js"></script>
  <script src="./js/components/Favorites.js"></script>
  <script src="./js/components/Subscribe.js"></script>
  <script src="./js/config/config.js"></script>
  <script src="./js/components/MainCards.js"></script>
  <script src="./js/components/SingleCard.js"></script>
  <script src="./js/components/Header.js"></script>
  <script src="./js/api/Api.js"></script>
  <script src="singlePage.js"></script>
{% endif %}

{% if page == "singlePageNotAuth" %}
  <script src="./js/components/Purchases.js"></script>
  <script src="./js/config/config.js"></script>
  <script src="./js/components/MainCards.js"></script>
  <script src="./js/components/SingleCard.js"></script>
  <script src="./js/components/Header.js"></script>
  <script src="./js/api/Api.js"></script>
  <script src="singlePageNotAuth.js"></script>
{% endif %}

{% if page == "myFollow" %}
  <script src="./js/config/config.js"></script>
  <script src="./js/components/MainCards.js"></script>
  <script src="./js/components/MyFollow.js"></script>
  <script src="./js/components/Subscribe.js"></script>
  <script src="./js/components/Header.js"></script>
  <script src="./js/api/Api.js"></script>
  <script src="myFollow.js"></script>
{% endif %}

{% if page == "indexNotAuth" %}
  <script src="./js/components/MainCards.js"></script>
  <script src="./js/components/Purchases.js"></script>
  <script src="./js/config/config.js"></script>
  <script src="./js/components/CardList.js"></script>
  <script src="./js/components/Header.js"></script>
  <script src="./js/api/Api.js"></script>
  <script src="indexNotAuth.js"></script>
{% endif %}

{% if page == "indexAuth" %}
  <script src="./js/components/MainCards.js"></script>
  <script src="./js/components/Purchases.js"></script>
  <script src="./js/components/Favorites.js"></script>
  <script src="./js/config/config.js"></script>
  <script src="./js/components/CardList.js"></script>
  <script src="./js/components/Header.js"></script>
  <script src="./js/api/Api.js"></script>
  <script src="indexAuth.js"></script>
{% endif %}

{% if page == "formRecipe" %}
  <script src="./js/config/config.js"></script>
  <script src="./js/components/Header.js"></script>
  <script src="./js/utils/debouncing.js"></script>
  <script src="./js/api/Api.js"></script>
  <script src="formRecipe.js"></script>
{% endif %}

{% if page == "favorite" %}
  <script src="{% static '/js/components/MainCards.js' %}"></script>
  <script src="{% static '/js/components/Purchases.js' %}"></script>
  <script src="{% static '/js/components/Favorites.js' %}"></script>
  <script src="{% static '/js/config/config.js' %}"></script>
  <script src="{% static '/js/components/CardList.js' %}"></script>
  <script src="{% static '/js/components/Header.js' %}"></script>
  <script src="{% static '/js/api/Api.js' %}"></script>
  <script src="{% static 'favorite.js' %}"></script>
{% endif %}

{% if page == "authorRecipe" %}
  <script src="./js/components/MainCards.js"></script>
  <script src="./js/components/Purchases.js"></script>
  <script src="./js/components/Favorites.js"></script>
  <script src="./js/components/Subscribe.js"></script>
  <script src="./js/config/config.js"></script>
  <script src="./js/components/AuthorRecipe.js"></script>
  <script src="./js/components/Header.js"></script>
  <script src="./js/api/Api.js"></script>
  <script src="authorRecipe.js"></script>
{% endif %}

{% if page == "shopList" %}
  <script src="./js/config/config.js"></script>
  <script src="./js/components/Header.js"></script>
  <script src="./js/components/ShopList.js"></script>
  <script src="./js/api/Api.js"></script>
  <script src="shopList.js"></script>
{% endif %}

