{% extends "base.html" %}
{% load static %}
{% block title %} Ошибка 500 {% endblock title %}

{% block stylesheet %}
    <link rel="stylesheet" href="{% static '/pages/index.css' %}">
{% endblock stylesheet %}

{% block content %}

    <h1>Ошибка 500</h1>
    <p>Ошибка на сервере, попробуйте обновить страницу или обратиться позже</p>
    <p><a href="{% url 'index' %}">Вернуться на главную</a></p>

{% endblock content %}


{% block connect_js %}
    {% if user.is_authenticated %}
        {% include "includes/connect_js.html" with page="indexAuth" %}
    {% else %}
        {% include "includes/connect_js.html" with page="indexNotAuth" %}
    {% endif %}
{% endblock connect_js %}