{% extends 'base.html' %}
{% load static %}
{% load user_filters %}
{% load templates_filters %}

{% block title %} Избранное {% endblock title%}

{% block stylesheet %}
<link rel="stylesheet" href="{% static 'pages/index.css' %}">
{% endblock stylesheet %}

{% block content %}
{% csrf_token %}
<div class="main__header">
    <h1 class="main__title">Избранное</h1>

    {% include "includes/tags.html" with page="favorite" %}

</div>
<div class="card-list">
    {% for recipe in page %}
    {% include 'includes/recipe.html' %}
    {% empty %}
    <p>Список избранных рецептов пока пуст </p>
    {% endfor %}


</div>
{% if page_obj.has_other_pages %}
{% include "includes/paginator.html" with items=page_obj paginator=paginator %}
{% endif %}

{% endblock content %}

{% block connect_js %}
{% include "includes/connect_js.html" with page="favorite" %}
{% endblock connect_js %}
