{% extends 'base.html' %}
{% load static %}
{% load user_filters %}
{% load templates_filters %}

{% block title %} Рецепты {% endblock title %}


{% block stylesheet %}
<link rel="stylesheet" href="{% static 'pages/index.css' %}">
{% endblock stylesheet %}


{% block content %}

    {% csrf_token %}
    <div class="main__header">
        <h1 class="main__title">Рецепты</h1>


        {% include "includes/tags.html" with page="index" %}
    </div>

        <div class="card-list">

            {% for recipe in page %}
            {% include 'includes/recipe.html' %}
            {% endfor %}

        </div>

    {% if page.has_other_pages %}
        {% include "includes/paginator.html" with items=page paginator=paginator filters=filters%}
    {% endif %}


{% endblock content %}


{% block connect_js %}

{% if user.is_authenticated %}
{% include "includes/connect_js.html" with page="indexAuth" %}
{% else %}
{% include "includes/connect_js.html" with page="indexNotAuth" %}
{% endif %}

{% endblock connect_js %}
