{% extends 'base.html' %}
{% block title %} Рецепты {% endblock title %}

{% load static %}

{% csrf_token %}
{% block stylesheet %}
    <link rel="stylesheet" href="{% static 'pages/index.css' %}">
{% endblock stylesheet %}

{% block index %}
    <li class="nav__item nav__item_active"></li>
{% endblock index %}

{% load user_filters %}
{% load templates_filters %}

{% block content %}
    <main class="main container">
        <div class="main__header">
            <h1 class="main__title">Рецепты</h1>


            {% include 'includes/tags.html' %}

            <div class="card-list">

                {% for recipe in page %}
                    {% include 'recipe.html' %}
                {% endfor %}

            </div>
            {% include 'includes/paginator.html' %}
        </div>
    </main>

{% endblock content %}

{% block connect_js %}

    {% if user.is_authenticated %}
        {% include "includes/connect_js.html" with page="indexAuth" %}
    {% else %}
        {% include "includes/connect_js.html" with page="indexNotAuth" %}
    {% endif %}

{% endblock connect_js %}
