{% extends 'base.html' %}
{% load static %}
{% load user_filters %}
{% load templates_filters %}

{% block title %} Список покупок {% endblock title %}

{% block stylesheet %}
    <link rel="stylesheet" href="{% static 'pages/shopList.css' %}">
{% endblock stylesheet %}

{% block content %}

    <div class="main__header">
        <h1 class="main__title"> Список покупок {% if count == 0 %} пуст {% endif %} </h1>
    </div>
    <div class="card-list card-list_column">
        {% csrf_token %}

        <ul class="shopping-list">

            {% for item in shopping_list %}

                <li class="shopping-list__item" data-id="{{ item.recipe.id }}">
                    <div class="recipe recipe_reverse">
                        <img src="{{ item.recipe.image.url }}" alt="какой-то текст"
                             class="recipe__image recipe__image_big">
                        <h3 class="recipe__title">{{ item.recipe.name }}</h3>
                        <p class="recipe__text"><span class="icon-time"></span> {{ item.recipe.cooking_time }} мин.
                        </p>
                    </div>
                    <a href="#" class="shopping-list__button link">Удалить</a>
                </li>

            {% endfor %}

            {% if count != 0 %}

                </ul>
                <a href="{% url 'download_list' %}">
                    <button class="button button_style_blue">Скачать список</button>
                </a>

            {% endif %}

    </div>

{% endblock content %}

{% block connect_js %}
    {% include "includes/connect_js.html" with page="shopList" %}
{% endblock connect_js %}