{% extends 'base.html' %}
{% load static %}
{% load user_filters %}
{% load templates_filters %}
{% load thumbnail %}

{% block title %} {{ recipe.name }} {% endblock title %}


{% block stylesheet %}
<link rel="stylesheet" href="{% static 'pages/single.css' %}">
{% endblock stylesheet %}


{% block content %}

<div class="single-card" data-id="{{ recipe.id }}" data-author="{{ recipe.author.id }}">

    {% thumbnail recipe.image "480x480" crop="center" as im %}
    <img src="{{ im.url }}" alt="{{ recipe.name }}" class="single-card__image">
    {% endthumbnail %}

    <div class="single-card__info">
        <div class="single-card__header-info">
            <h1 class="single-card__title">{{ recipe.name }}</h1>

            {% if user.is_authenticated and user != object.author %}
            <div class="single-card__favorite">
                {% if is_favorite %}
                <button class="button button_style_none" name="favorites"><span
                        class="icon-favorite icon-favorite_big icon-favorite_active"></span></button>
                <div class="single-card__favorite-tooltip tooltip">Убрать из избранного</div>
                {% else %}
                <button class="button button_style_none" name="favorites" data-out><span
                        class="icon-favorite icon-favorite_big"></span></button>
                <div class="single-card__favorite-tooltip tooltip">Добавить в избранное</div>
                {% endif %}
            </div>
            {% endif %}

        </div>

        <ul class="single-card__items">
            {% if recipe.tags %}
            {% for tag in recipe.tags.all %}
            <li class="card__item"><span class="badge badge_style_{{ tag.color }}">{{ tag.name }}</span>
            </li>
            {% endfor %}
            {% endif %}
        </ul>

        <div class="single-card__items single-card__items_column">
            <p class="single-card__text"><span class="icon-time"></span> {{ recipe.cooking_time }} мин.</p>

            <ul class="single-card__items">
                <li class="single-card__item"><p class="single-card__text"><span class="icon-user"></span> <a
                        href="{%url 'profile' recipe.author.username %}" style="color: black">{{recipe.author.get_full_name }}</a></p></li>
                {% if user == recipe.author %}
                <li class="single-card__item"><a
                        style="margin-left: 2.5em"
                        href="{% url 'recipe_edit' recipe.author.username recipe_id %}"
                        class="single-card__text">Редактировать рецепт</a></li>
                {% endif %}
            </ul>

        </div>

        <ul class="single-card__items">
            {% include 'includes/store_button.html' %}

            {% if user.is_authenticated and user.username != profile.username %}
            {% if recipe.author|is_follow:user %}
            <li class="single-card__item">
                <button class="button button_style_light-blue button_size_auto" name="subscribe">
                    <span class="icon-check button__icon"></span> Отписаться от автора
                </button>
                {% else %}
            <li class="single-card__item">
                <button class="button button_style_light-blue button_size_auto" name="subscribe"
                        data-out>Подписаться на автора
                </button>
            </li>
            {% endif %}
            {% endif %}
        </ul>
        <div class="single-card__section">
            <h3 class="single-card__section-title">Ингредиенты:</h3>
            <div class="single-card__items single-card__items_column">
                {% for item in recipe.recipe_ingredients.all %}
                <p class=" single-card__section-item">{{ item.ingredient.title }}
                    - {{ item.amount }} {{ item.ingredient.dimension }}</p>
                {% endfor %}

            </div>
        </div>
        <div class="single-card__section">
            <h3 class="single-card__section-title">Описание:</h3>
            <p class=" single-card__section-text">{{ recipe.description|linebreaksbr }}</p>
        </div>
    </div>
</div>

{% endblock content%}

{% block connect_js %}

{% if user.is_authenticated %}
{% include "includes/connect_js.html" with page="singlePage" %}
{% else %}
{% include "includes/connect_js.html" with page="singlePageNotAuth" %}
{% endif %}

{% endblock connect_js %}